
<div style="min-width: 300px;">
    <h1>Details</h1>
    <table style="table-layout: fixed; width: 300px;">
        <col width=50 />
        <col width=50 />
        <tr>
            <td>Name: </td>
            <td>{{object.name}}</td>
        </tr>
        <tr>
            <td>Owner: </td>
            <td>{{object.owner_name}}</td>
        </tr>
        <tr>
            <td>Version: </td>
            <td>{{object.version}}</td>
        </tr>
        <tr>
            <td>Repository: </td>
            <td>{{prettyRepo(object.repository_id)}}</td>
        </tr>
        <tr>
            <td>Created: </td>
            <td>{{prettyTime(object.created_at)}}</td>
        </tr>
    </table>
</div>