<mat-list role="list" fxFlex="1 1 auto" style="box-sizing: border-box;">
    <mat-list-item *ngFor="let item of repos | keyvalue" style="width: 100%;height: fit-content;margin-top: 1em;box-sizing: border-box;">
        <app-repo-button 
        [repo]="item.value" 
        (edit)="onRepositoryEdit($event)" 
        (delete)="onRepositoryDelete($event)" 
        (fork)="onRepositoryFork($event)"
        (update)="onRepositoryUpdate($event)"
        ></app-repo-button>
    </mat-list-item>
</mat-list>
