

<div class="container" fxLayout="column" style="height: 100%;" fxLayoutGap="30px">

    <app-header></app-header>

    <section fxLayout="column" fxLayoutAlign="center center" fxFlex='1 1 auto' >
        <h1 class="error">4<span class="zero">0</span>4</h1>
        <p>The page you are looking for does not exist, may have been moved or deleted.</p>
        <button mat-flat-button color="primary" (click)="router.navigate(['/'])">GO TO HOMEPAGE</button>
    </section>

    <app-footer></app-footer>

</div>