<h1>Releases</h1>
<mat-list>

    <mat-list-item
        *ngFor="let item of tags"
    >
        <div class="item">
            <h2>{{item.name}} <small>{{prettyTime(item.time)}}</small> </h2>
            <span fxFlex="1 1 auto"></span>
            <button mat-icon-button style="align-self: flex-end;" (click)="deleteRelease(item.name)" title="Delete">
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </div>
    </mat-list-item>

</mat-list>
