@use "sass:map";
@use "@angular/material" as mat;

.container {
    width: 100%;
    height: 100%;
    // background-color: white;
    min-width: 200px;
    overflow-x: hidden;
    box-sizing: border-box;
    mat-tree-node {
        cursor: pointer;
        background: transparent;
    }
    
    mat-tree {
        background: transparent;
    }

    .git-dirty {
        color:#ff8c00;
    }
}

.action-menu-item {
    line-height:30px;
    height:30px;
    font-size: 80%;
}

.hidden {
    opacity: 0.6;
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    $background: map.get($color-config, background);

    .opened {
        background: map.get($background,focused-button);
    }
}